#title{
    color: rgb(236, 157, 65);
    background-color: rgb(54, 70, 97);
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    padding: 20px;
    justify-content: center;
}

button{
    width: 200px;
    height: 75px;
    border-radius: 100px;
    background-color: rgb(111, 190, 255);
    color: red;
    display:inline-block;
    font-size: 100px;
}

.center-screen {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    /* min-height: 100vh; */
  }
